---
import { getCollection } from 'astro:content';
import TestimonialCard from './TestimonialCard.vue';

const items = await getCollection('testimonials');
const testimonials = await Promise.all(items.map(async (item) => {
  return {
    ...item,
    render: await item.render()
  };
}));
console.log(testimonials);
---

<section class="bg-grid min-h-screen snap-start text-gray-500 flex justify-center items-center pt-16">
  <div class="container mx-auto">
    <h2 class="important-text-4xl mb-32 dark:text-light  opacity-0 animate-fade-in animate-delay-1s animate-forwards">
      Take the word from the <strong class="text-primary">community</strong>.
    </h2>

    <div class="masonry mb-32">
      {testimonials.map(({data, render}) => (
        <div class="masonry-item mb-12">
          <TestimonialCard {...data}>
          <render.Content />
        </TestimonialCard>
        </div>
      ))}
    </div>
    <div class="flex justify-center">
      <a class="btn bg-purple hover:bg-purple-600 animate animate-pulse-alt hover:text-primary transition-all ease-in-out" href="https://discord.gg/WYj3pjpPUK">
       <i class="i-bi-discord text-white mr-2"></i> Join the Discord
      </a>
    </div>
  </div>
</section>

<style>
  .masonry {
    column-count: 4;
    column-gap: 3rem;
  }
  
  .masonry-item {
    break-inside: avoid;
  }

  .bg-grid {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 90%), url('bg-grid.png');
    background-repeat: no-repeat, repeat; /* No repeat for gradient, repeat for image */
    background-size: cover, auto; /* Cover for gradient, auto (default) for image */
  }

  
  @media (max-width: 1024px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 640px) {
    .masonry {
      column-count: 1;
    }
  }
  </style>