---
import TheLogo from './TheLogo.astro';
import TheSocials from './TheSocials.vue';
const today = new Date();
---

<footer class="pb-32 px-2 pt-8 bg-gray-100 dark:bg-dark-600 dark:text-light w-full">
	<div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center sm:text-left">
		<div>
			<TheLogo icon />
			<p class="text-sm">TresJS is a 3D framework for Vue.
				<br> &copy; {today.getFullYear()}</p>
			<p  class="text-sm" >Website build <a href="https://astro.build/"><i class="i-logos-astro-icon"></i></a></p>
		</div>
		<div>
			<h3 class="text-lg font-bold">Getting Started</h3>
			<ul class=" text-sm">
				<li><a class="mb-2 block" href="https://docs.tresjs.org/guide/getting-started.html" target="_blank">Install</a></li>
				<li><a class="mb-2 block" href="https://docs.tresjs.org/guide/your-first-scene.html" target="_blank">Your first scene</a></li>
				<li><a class="mb-2 block" href="https://play.tresjs.org/" target="_blank">Play Sandbox</a></li>
				<li><a class="mb-2 block" href="https://cientos.tresjs.org/" target="_blank">Cientos 💛 </a></li>
			</ul>
		</div>
		<div>
			<TheSocials client:load />
		</div>
	</div>
</footer>
