---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href !== '/' ? pathname.includes(href) : pathname === href;
---

<li>
  <a
    class="text-gray-400 dark:text-gray-200 rounded-full px-4 py-1 inline-block hover:bg-primary-300 hover:text-light transition-colors duration-200 ease-in-out"
    href={href} class:list={[className, { 'bg-primary-300 text-white': isActive }]} {...props}>
    <slot />
  </a>
</li>

