---
import TheSocials from './TheSocials.vue';
import TheLogo from './TheLogo.astro';
import TheNav from './TheNav.astro';
import MobileNav from './MobileNav.vue';
---

<script>
	function onScroll() {
  const isScrolled = window.scrollY > 400;

	if(isScrolled) {
		document.querySelector('header')?.classList.add('bg-white');
		document.querySelector('header')?.classList.add('dark:bg-dark');

	} else {
		document.querySelector('header')?.classList.remove('bg-white');
		document.querySelector('header')?.classList.remove('dark:bg-dark');
	}
}
	// Clean up
	window.addEventListener('scroll', onScroll);
</script>

<header class="p-4 fixed w-full z-20 backdrop-opacity-20">
	<nav class="mx-auto container flex justify-between items-center">
		<TheLogo />
		<!-- <TheNav /> -->
		<div class="hidden sm:block">
			<TheSocials client:only />
		</div>
		<MobileNav client:only />
	</nav>
</header>
