---
const { icon } = Astro.props
---
<h2 class="mb-0">
  <a
    href="/"
    class="
    rounded-full p-2 inline-flex items-baseline
    text-lg text-gray-600 dark:text-light font-bold"
  >
    <img
      width="44"
      height="10"
      class="w-50px mr-4"
      src="/logo.svg"
      alt="TresJS logo"
    >
    {!icon && 'TresJS' }
  </a>
</h2>

