<h2 class="mb-0">
  <a
    href="/"
    class="bg-white shadow-white-blur dark:(bg-dark shadow-dark-blur) 
    rounded-full p-2 inline-flex items-baseline
    text-lg text-gray-600 dark:text-light font-bold"
  >
    <img
      width="44"
      height="10"
      class="w-50px mr-4"
      src="/logo.svg"
      alt="TresJS logo"
    >
    TresJS
  </a>
</h2>

