---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	<body>
		<div class="fancy-bg h-screen">
      <Header />
			<!-- <Nav /> -->
			<slot />
	<!-- 		<Footer /> -->
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>
	</body>
</html>
