---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	<body>
		<div class="fancy-bg h-screen">
      <Header />
			<!-- <Nav /> -->
			<slot />
	<!-- 		<Footer /> -->
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
		  :root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				--bg-image-main: url('/bg-main.webp');
				--bg-image-main-curves: url('/bg-main-light.svg');
				--bg-image-subtle-1: var(--_placeholder-bg);
				--bg-image-subtle-2: var(--_placeholder-bg);
				--bg-image-footer: var(--_placeholder-bg);
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: normal;
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
				--bg-color: #fff;
			}

			.dark {
				@apply bg-dark text-light;
				--bg-image-main: url('/bg-main-dark.jpg');
				--bg-color: #343434;
				--bg-blend-mode: color;
				--bg-image-main-curves: none;
			}

			.fancy-bg {
				min-height: 100%;
				isolation: isolate;
				background:
					/*noise*/
					url('/noise.png') top center/220px repeat,
					/*footer*/ var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
					/*header1*/ var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat,
					/*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
					/*base*/ var(--bg-color);
				background-blend-mode: /*noise*/
					overlay,
					/*footer*/ var(--bg-blend-mode),
					/*header1*/ var(--bg-svg-blend-mode),
					/*header2*/ var(--bg-blend-mode),
					/*base*/ normal;
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
	</body>
</html>
